# Groq API
GROQ_API_KEY=your_groq_api_key_here

SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here

# IoMT (leave blank for now — add in 4 days)
IOMT_API_KEY=
IOMT_API_URL=
#password database IlAdibRdU1p2E9g8
# App settings
APP_ENV=development
SECRET_KEY=any_random_string_here_change_in_production